body {
  background: #272822 url("../img/bkg-patterns/3.png") 0 0;
  color: #f8f8f2;
}

h1, h2, h3, h4, h5, h6 {
  color: #a6e22e;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

a {
  color: #66d9ef;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/*****************************************************************************/
/* Foundation customization
/*

/* Panel */
.panel {
  border-color: #272822;
  background: #49483e;
  color: #f8f8f2; }

/* Top Bar */

.top-bar {
  background: #49483e;
}
.top-bar-section ul li {
  background: #49483e;
}
/*
.top-bar-section li.hover > a:not(.button) {
  background-color: #555555;
  background: #333333;
  color: #FFFFFF; }*/
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #49483e;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #e6db74;
  color: #272822;
}
/*
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  color: #FFFFFF;
  background: #008CBA;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #0078a0;
  color: #FFFFFF;
}*/

/*
/* Foundation customization - END
/*****************************************************************************/

/* Custom classes */
.panel-phd-title {
  text-align: center
}
