/* Monokai color theme
dark grey : 272822
light grey : 49483e
white : f8f8f2
red : f92672
yellow : e6db74
green : a6e22e
blue : 66d9ef
purple : ae81ff
*/

body {
  background: #49483e url("../img/bkg-patterns/3.png") 0 0;
  color: #f8f8f2;
}

h1, h2, h3, h4, h5, h6 {
  color: #a6e22e;
}

a {
  color: #66d9ef;
}

/*****************************************************************************/
/* Foundation customization
/* */

/* Panel */
.panel {
  border-color: #272822;
  background: #49483e;
  color: #f8f8f2; }

/* Top Bar */

.top-bar {
  background: #272822;
}
.top-bar-section ul li {
  background: #272822;
}
/*
.top-bar-section li.hover > a:not(.button) {
  background-color: #555555;
  background: #333333;
  color: #FFFFFF; }*/
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #272822;
  transition: all 0.4s ease;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  box-shadow: inset 150px 0 0 0 #f8f8f2;
  color: #272822;
}

/*
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  color: #FFFFFF;
  background: #008CBA;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #0078a0;
  color: #FFFFFF;
}*/

/*
/* Foundation customization - END
/*****************************************************************************/

/* Custom classes */
.panel-phd-title {
  text-align: center
}

.container {
  /* Same values from Foundation .row class */
  width: 100%;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;

  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #272822;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.7);
}

footer {
  text-align: center;
}

footer p {
  font-size: 0.75rem;
}

.postal-address {
  vertical-align: top;
  display: inline-block;
}
