
<li class="cv-publications-item" id="publication-{{ publication.id }}">
  <div
    data-toggle="collapse"
    data-target="#publication-{{ publication.id }} .cv-publications-item-journal"
    aria-expanded="false"
    aria-controls="cv-publications-item-journal">

    <span class="cv-publications-item-authors">
      {{ publication.author.first.firstname }} {{ publication.author.first.lastname }}
      {% assign numAuthors = publication.author | size %}
      {% if numAuthors > 1 %}
      <span class="translate-wrapper">
        <span class="translate-french" lang="fr">et coll.</span>
        <span class="translate-english" lang="en">et al.</span>
      </span>
      {% endif %}
    </span>

    <span class="cv-publications-item-year">
      ({{ publication.year }}).
    </span>

    <span class="cv-publications-item-title">
      {{ publication.title }}.
    </span>
  </div>

  {% if publication.booktitle or publication.journal %}
  <div class="cv-publications-item-journal collapse">
    In
    {% if publication.booktitle %} <em>{{ publication.booktitle }}</em>
    {% elsif publication.journal %} <em>{{ publication.journal }}</em>
    {% endif %}
  </div>
  {% endif %}
</li>

