
.cv-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex: 1 0 auto;
  overflow-y: hidden;

  &:first-child, &:last-child {
    justify-content: space-between;
  }

  //** Blocks title
  h2 {
    display: inline-block;
    border-radius: $border-radius-base;
    padding-right: $padding-xs-horizontal;
    padding-left: $padding-xs-horizontal;
    padding-top: $padding-xs-vertical;
    padding-bottom: $padding-xs-vertical;
    margin: $padding-large-vertical 0;
    align-self: flex-start;
  }

  &:nth-child(odd) {
    h2 {
      background-color: $brand-primary;
      color: $gray-lighter;
    }
  }
  &:nth-child(even) {
    h2 {
      background-color: $gray-lighter;
    }
  }

  .cv-block-items {
    flex-grow: 1;
    width: 100%;
    padding-left: initial;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @import "blocks/achievement";
  @import "blocks/career";
  @import "blocks/publications";
}
