
.cv-side {
  background-color: #f5f5f5;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  padding-left: $padding-large-horizontal;
  padding-right: $padding-small-horizontal;
  overflow-y: auto;

  &.front {
    grid-area: f-aside;
  }
  &.back {
    grid-area: b-aside;
  }


  h1 {
    color: $brand-primary;
    line-height: 0.8;
    text-align: start;
    small {
      color: $text-color;
      font-size: 60%;
    }
  }

  h2, h3 {
    margin-top: $padding-base-vertical;
  }

  .identity-list {
    .material-icons {
      margin: $padding-small-vertical $padding-xs-horizontal;
      margin-left: 0px;
      vertical-align: middle;
    }

    a {
      color: inherit;
    }
  }

  .cv-about {
    p {
      hyphens: auto;
    }
  }

  .cv-skills {
    ul {
      columns: 2;

      &.cv-list-lang {
        columns: initial;
      }
    }
  }
}
