---
layout: resume
title: "CV - Resumé"
---

<div class="container-fluid cv-container">
  <div class="hidden-print">
    <div class="cv-control">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-french">
          <input type="radio" name="cv-lang" id="fr" autocomplete="off"/> Français
        </label>
        <label class="btn btn-english active">
          <input type="radio" name="cv-lang" id="en" autocomplete="off" checked/> English
        </label>
      </div>
      <div class="translate-wrapper btn-block">
        <div class="translate-french">
          <a class="btn btn-default btn-block"
                      href="/assets/pdf/Alexis_BRENON-CV_fr.pdf"
                      role="button">PDF</a>
        </div>
        <div class="translate-english">
          <a class="btn btn-default btn-block"
                      href="/assets/pdf/Alexis_BRENON-CV_en.pdf"
                      role="button">PDF</a>
        </div>
      </div>
    </div>
  </div>

<main class="cv-page">
  <aside class="cv-side front">
      <div class="img-portrait" alt="Portrait"></div>
      <h1>Alexis BRENON<br/>
        <small class="translate-wrapper">
          <span class="translate-french" lang="fr">Recherche appliquée</span>
          <span class="translate-english" lang="en">Applied researcher</span>
        </small>
      </h1>

      <ul class="list-unstyled identity-list">
        <li><i class="material-icons">cake</i>
          <span class="translate-wrapper">
            <span class="translate-french" lang="fr">20 décembre 1991 (26 ans)</span>
            <span class="translate-english" lang="en">December 20<sup>th</sup>, 1991 (26 y. old)</span>
          </span>
        </li>
        <li><i class="material-icons">smartphone</i> +33 (0)6.74.43.25.21</li>
        <li><i class="material-icons">email</i> brenon.alexis@gmail.com</li>
        <li><i class="material-icons">public</i> alexisbrenon.github.io</li>
      </ul>

      <div class="cv-about">
        <h2 class="translate-wrapper">
          <span class="translate-french" lang="fr">À propos de moi</span>
          <span class="translate-english" lang="en">About</span>
        </h2>
        <div class="translate-wrapper">
        <p class="translate-french" lang="fr">
        Après une thèse de doctorat sur l'utilisation d'un <strong>modèle profond pour la prise de décision adaptative dans l'habitat intelligent</strong>, je recherche un emploi en tant que <strong>chercheur appliqué</strong>. J'espère ainsi prendre part au développement de nouvelles techno&shy;logies fondées sur <strong>l'appren&shy;tissage automatique</strong>  et les rendre acces&shy;sibles au grand public.
        </p>
        <p class="translate-english" lang="en">My name is <strong>Alexis BRENON</strong>. I am <strong>26&nbsp;years old</strong> and I recently defended my thesis about <strong>deep model for adaptive decision-making in smart-home</strong>. I am seeking a position as an <strong>applied researcher</strong> to develop new technologies based on <strong>machine learning</strong> and bring them to the mainstream market.
        </p>
        </div>
      </div>
      
      <div class="cv-skills">
        <h2 class="translate-wrapper">
          <span class="translate-french" lang="fr">Compétences</span>
          <span class="translate-english" lang="en">Skills</span>
        </h2>
        <h3 class="translate-wrapper">
          <span class="translate-french" lang="fr">Linguistiques</span>
          <span class="translate-english" lang="en">Languages</span>
        </h3>
        <ul class="list-unstyled cv-list-lang">
          <li>🇫🇷
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Français : natif</span>
              <span class="translate-english" lang="en">French: mother tongue</span>
            </span>
          </li>
          <li>🇬🇧
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Anglais : utilisation professionnelle</span>
              <span class="translate-english" lang="en">English: professional efficiency</span>
            </span>
          </li>
        </ul>

        <h3 class="translate-wrapper">
          <span class="translate-french" lang="fr">Techniques</span>
          <span class="translate-english" lang="en">Hard skills</span>
        </h3>
        <ul class="list-unstyled cv-list-hskill">
          <li><i class="skill-icon hskill-asm"></i>
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Assembler</span>
              <span class="translate-english" lang="en">Assembly</span>
            </span>
          </li>
          <li><i class="skill-icon hskill-android"></i> Android</li>
          <li><i class="skill-icon hskill-bash"></i> Bash</li>
          <li><i class="skill-icon hskill-cpp"></i> C/C++</li>
          <li><i class="skill-icon hskill-docker"></i> Docker</li>
          <li><i class="skill-icon hskill-git"></i> Git</li>
          <li><i class="skill-icon hskill-html"></i> HTML/CSS/JS</li>
          <li><i class="skill-icon hskill-java"></i> Java</li>
          <li><i class="skill-icon hskill-kotlin"></i> Kotlin</li>
          <li><i class="skill-icon hskill-latex"></i> Latex</li>
          <li><i class="skill-icon hskill-lua"></i> Lua</li>
          <li><i class="skill-icon hskill-python"></i> Python</li>
        </ul>

        <h3 class="translate-wrapper">
          <span class="translate-french" lang="fr">Humaines</span>
          <span class="translate-english" lang="en">Soft skills</span>
        </h3>
        <ul class="list-unstyled cv-list-sskill">
          <li><i class="material-icons sskill-autonomy">person</i>
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Autonome</span>
              <span class="translate-english" lang="en">Autonomous</span>
            </span>
          </li>
          <li><i class="material-icons sskill-collaboration">people</i>
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Collaboratif</span>
              <span class="translate-english" lang="en">Collaborative</span>
            </span>
          </li>
          <li><i class="material-icons sskill-inventivity">wb_incandescent</i>
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Inventif</span>
              <span class="translate-english" lang="en">Inventive</span>
            </span>
          </li>
          <li><i class="material-icons sskill-perseverence">hourglass_full</i>
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Persévérant</span>
              <span class="translate-english" lang="en">Persevering</span>
            </span>
          </li>
          <li><i class="material-icons sskill-rigorous">straighten</i>
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">Rigoureux</span>
              <span class="translate-english" lang="en">Rigorous</span>
            </span>
          </li>
        </ul>
      </div>
    </aside>

    <div class="cv-main front">
      <div class="cv-block cv-career">
        <h2 class="translate-wrapper">
          <span class="translate-french" lang="fr">Parcours</span>
          <span class="translate-english" lang="en">Career</span>
        </h2>

        {% include 10-body/cv/career/2018.html %}
        {% include 10-body/cv/career/2017.html %}
        {% include 10-body/cv/career/2014.html %}
        {% include 10-body/cv/career/2013.html %}
        {% include 10-body/cv/career/2012.html %}
        {% include 10-body/cv/career/2009.html %}

      </div>

      <div class="cv-block cv-publications">
        <h2>Publications</h2>

        <div class="translate-wrapper">
          <p class="translate-french" lang="fr">
            Accessibles sur <a href="https://cv.archives-ouvertes.fr/alexisbrenon">cv.archives-ouvertes.fr/alexisbrenon</a>
          </p>
          <p class="translate-english" lang="en">
            Open-access on <a href="https://cv.archives-ouvertes.fr/alexisbrenon">cv.archives-ouvertes.fr/alexisbrenon</a>
          </p>
        </div>

        {% for publication in site.data.publications %}
        <div class="cv-publications-item">
          <div class="cv-publications-item-authors">
            {{ publication.author.first.firstname }} {{ publication.author.first.lastname }}
            {% assign numAuthors = publication.author | size %}
            {% if numAuthors > 1 %}
            <span class="translate-wrapper">
              <span class="translate-french" lang="fr">et coll.</span>
              <span class="translate-english" lang="en">et al.</span>
            </span>
            {% endif %}
          </div>
          <div class="cv-publications-item-year">
            ({{ publication.year }}).
          </div>
          <div class="cv-publications-item-title">
            {{ publication.title }}.
          </div>
          {% if publication.booktitle %}
          <div class="cv-publications-item-journal">
            In <em>{{ publication.booktitle }}</em>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div> <!-- Publications block -->

      <div class="cv-block cv-achievements" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
        <h2 class="translate-wrapper">
          <span class="translate-french" lang="fr">Réalisations</span>
          <span class="translate-english" lang="en">Achievements</span>
        </h2>

        {% include 10-body/cv/achievements/work/keecker.html %}
        {% include 10-body/cv/achievements/work/arcades.html %}
        {% include 10-body/cv/achievements/home/streamrecord.html %}
        {% include 10-body/cv/achievements/work/tracedecoder.html %}
        {% include 10-body/cv/achievements/work/pipy.html %}
        {% include 10-body/cv/achievements/home/foss.html %}
        {% include 10-body/cv/achievements/home/server.html %}
        {% include 10-body/cv/achievements/work/dipiom.html %}
        {% include 10-body/cv/achievements/school/lifegame.html %}
        {% include 10-body/cv/achievements/school/stellody.html %}
        {% include 10-body/cv/achievements/home/vinyl.html %}
        {% include 10-body/cv/achievements/home/hyperion2boblight.html %}

      </div>
    </div>

    <div class="cv-main back" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
    </div>

    <div class="sep"></div>
</main>
</div>
</div>
