body.blog {
  header {
    background: none;
  }

  .season-separator {
    h2 {
      font-family: 'Overlock', $headings-font-family;
      font-weight: 700;
      font-style: italic;
      color: rgba($gray-base, 0.25);
    }
  }

  .posts-list {
    margin-bottom: 2*$padding-large-vertical;

    .post-cover {
      * {
        @include border-bottom-radius(0);
      }
      .post-cover-overlay.overlay:before {
        @include border-bottom-radius(0);
      }
    }
    .post-title {
      @include border-bottom-radius($border-radius-base);
    }
  }
}
