body.blog {

    header {
        min-height: 33.3vh;
        margin-bottom: $padding-base-horizontal;
        display: flex;
        justify-content: center;
        align-items: center;
        $overlay-alpha: 0.75;
        background-image: radial-gradient(ellipse at center,
        rgba($gray-base, $overlay-alpha) 0%,
        rgba($gray-darker, $overlay-alpha) 100%
        ), url("/assets/images/index/background.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        * {color: $component-active-color;}
    }

    .media {
        transition: all 0.5s ease;
        padding: $padding-base-vertical;

        a {
            color: initial;

            &:hover {
                text-decoration: none;
            }
        }

        .media-object {
            background-size: cover;
            background-position: center center;
            @include square(20vh);
        }

        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
        }
    }
}

