
body.resume {
  .cv-container {
    font-family: "Signika", $font-family-sans-serif;
    padding-top: $padding-large-vertical;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &>* {
      margin-right: $padding-base-horizontal;
      margin-left: $padding-base-horizontal;
    }


//== Icons management
//
//** Hard skill icons based on svg images
    @each $icon in (
      asm
      bash
      cpp
      docker
      git
      html
      java
      latex
      lua
      python
    ) {
      .hskill-#{$icon} {
          background-image: url("/assets/images/cv/logos/#{$icon}.svg");
          background-size: 100%;
        }
    }

//** Reduce size of icons
    .material-icons {
      font-size: 1.25em;
    }
//** Align icons with text
    i.material-icons[class*=sskill-] {
      vertical-align: middle;
    }
    .skill-icon {
      display: inline-block;
      width: 1.25em;
      height: 1.25em;
      vertical-align: middle;
    }
    .sskill-inventivity {
      transform: rotateZ(180deg);
    }

//== Translation management
    .translate-wrapper {
      .translate-french {
        display: none;
      }
      .translate-english {
        // Show english in JS is disabled
      }
    }

//** Translation buttons
    .cv-control {
      @extend main;
      padding: $padding-base-vertical $padding-base-horizontal;
      display: flex;
      flex-direction: column;

      &>* {
        margin: $padding-base-vertical auto;
      }

      .btn-group {
        display: flex;
        justify-content: stretch;

        label { width:100%; }

        .btn {
          position: relative;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-color: $gray-lighter;
          background-blend-mode: overlay;

          &.active {
            background-color: $gray-darker;
            color: $gray-lighter;
          }
        }

        .btn-english {
          background-image: url('/assets/images/cv/en.svg');
        }
        .btn-french {
          background-image: url('/assets/images/cv/fr.svg');
        }
      }
    }

//== CV pages
    .cv-page {
      position: relative;

      display: grid;
      
      &>* {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .sep {
        display: none;
      }

      aside {
        background-color: #f5f5f5;
        padding: $padding-small-horizontal;

        &.cv-side.front {
          grid-area: f-aside;
        }
        &.cv-side.back {
          grid-area: b-aside;
        }

        .img-portrait {
          width: 80%;
          margin-top: 2.3rem;
          box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.75);
        }
        
        h1 {
          color: $brand-primary;
          line-height: 0.8;
          small {
            color: $text-color;
            font-size: 60%;
          }
        }

        .identity-list .material-icons {
          margin: $padding-small-vertical $padding-xs-horizontal;
          margin-left: 0px;
          vertical-align: middle;
        }

        .cv-about {
          p {
            hyphens: auto;
          }
        }

        .cv-skills {
          ul {
            columns: 2;

            &.cv-list-lang {
              columns: initial;
            }
          }
        }
      }

      .cv-main {
        line-height: floor(($line-height-computed - 1));
        padding: $padding-small-horizontal;

        &.front {
          grid-area: f-main;
        }
        &.back {
          grid-area: b-main;
        }

        .cv-block {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          flex: 1 0 auto;

          &:first-child, &:last-child {
            justify-content: space-between;
          }
        }

        //** Blocks title
        .cv-block {
          h2 {
            display: inline-block;
            border-radius: $border-radius-base;
            padding-right: $padding-xs-horizontal;
            padding-left: $padding-xs-horizontal;
            padding-top: $padding-xs-vertical;
            padding-bottom: $padding-xs-vertical;
            margin: $padding-large-vertical 0;
            align-self: flex-start;
          }
          // Remove top margin of the first title
          &:first-child h2 {
            margin-top: 0px;
          }

          &:nth-child(odd) {
            h2 {
              background-color: $brand-primary;
              color: $gray-lighter;
            }
          }
          &:nth-child(even) {
            h2 {
              background-color: $gray-lighter;
            }
          }
        }

        .cv-block {
          &.cv-scolarity {
            table {
              border-collapse: separate;
              border-spacing: $padding-xs-horizontal;
              width: 100%;
              tr {
                margin-bottom: $padding-base-vertical;
                td {
                  vertical-align: top;

                  &.date {
                    padding-right: $padding-xs-horizontal;
                    border-right: 1px dotted $gray-light;
                    width: 15%;
                    text-align: right;
                  }
                  &.place {
                    font-size: 70%;
                    color: $gray-light;
                    width: 25%;
                    text-align: right;
                  }
                }
              }
            }
          }


          &.cv-publications {
            .cv-publications-item {
              margin-bottom: $padding-base-vertical;
              cursor: pointer;

              & > div {
                display: inline
              }

              .cv-publications-item-journal {
                display: none;
              }
            }
          }

          &.cv-achievements {
            flex: 3 1 auto;

            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: start;

            .cv-achievement-item {
              display: grid;
              grid-template-columns: 2em 1fr auto;
              grid-column-gap: $padding-xs-horizontal;
              width: 100%;
              margin-bottom: $padding-large-vertical;
              page-break-inside: avoid;

              .cv-achievement-frame {
                grid-column: 1;
                grid-row: 1;

                font-size: 125%;
              }

              .cv-achievement-title {
                grid-column: 2;
                grid-row: 1;

                font-size: 150%;
                font-weight: bold;
                color: $brand-primary;

                margin-bottom: $padding-base-vertical;
              }

              .cv-achievement-skills {
                grid-column: 3;
                grid-row: 1;

                justify-self: end;

                & > div {
                  display: inline-block;
                }

                .cv-achievement-sskills {
                  &:before {
                    content: "/";
                    margin: 0 0.33em;
                  }
                }
              }

              .cv-achievement-details {
                grid-column: 1 / 4;
                grid-row: 2;

                * {
                  margin-bottom: 0px;
                }

              }

              .cv-achievement-ref {
                grid-column: 1 / 4;
                grid-row: 3;
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  body.resume {
    background: none;

    .cv-container {
      background: none;
      padding: 0;
      justify-content: flex-start;

      .cv-page {
        margin: 0;
        width: 209mm;
        height: 296mm;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 296.5mm 1mm 296.5mm;
        grid-template-areas:
        "f-aside f-main f-main"
        ".       .      ."
        "b-main  b-main b-aside ";
      }
    }
  }
}

@media screen and (max-width:21cm) {
  body.resume .cv-container .cv-page {
    grid-template-areas:
      "f-aside"
      "f-main"
      "b-main"
      "b-aside"
  }
}

@media screen and (min-width: 21.1cm) {
  body.resume .cv-container .cv-page {
    width: 209mm;
    min-height: 296mm;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 296mm 1pt 296mm;
    grid-template-areas:
      "f-aside f-main f-main"
      "sep     sep    sep"
      "b-main  b-main b-aside";
  }

  .sep {
    display: block !important;
    grid-area: sep;
    background-color: $gray-light;
  }
}
