// Stylesheet for the one-page styled index

body.one-page {
    position: relative;

    // Header has a background with black overlay
    header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        $overlay-alpha: 0.75;
        background-image: radial-gradient(ellipse at center,
        rgba($gray-base, $overlay-alpha) 0%,
        rgba($gray-darker, $overlay-alpha) 100%
        ), url("/assets/images/index/background.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        color: $body-bg;
        min-height: 100vh;

        // The portrait image is resized
        .img-portrait {
            $margin: 5*$padding-base-vertical;
            margin-top: $margin;
            margin-bottom: $margin;
            width: 30rem;
        }

        a {
            border-radius: 50%;
            // Dirty trick to fix the unaligned chevron character
            padding-top: $padding-large-horizontal+4;
            padding-left: $padding-large-horizontal+4;
            padding-bottom: $padding-large-horizontal;
            padding-right: $padding-large-horizontal;
            font-size: $font-size-h2;
            color: $component-active-color;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: rgba($gray-lighter, 0.25);
                text-decoration: none;
            }
        }
    }

    .season-separator {
        h2 {
            font-family: 'Overlock', $headings-font-family;
            font-weight: 700;
            font-style: italic;
            color: rgba($gray-base, 0.25);
        }
    }


    // Add some padding inside sections
    section {
        padding-top: 2em;
        padding-bottom: 2em;

        .section-icon {
            position: absolute;
            font-size: $font-size-h1 * 5;
            color: rgba($text-color, 0.075) ;
            z-index: -1;

            &.pull-right {
                right: 10%;
            }
            &.pull-left{
                left: 10%;
            }
        }
    }
}
