body.post {

    text-align: justify;

    /* Title and date of the post */
    .post-title {
        text-transform: capitalize;
    }

    .post-image-small {
        max-height: 50vh;
    }

    @import "custom/pullquote";
    @import "custom/ref-note";

    header {
        min-height: 33.3vh;
        margin-bottom: $padding-base-horizontal;
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .posts-list {
        .post-link {
            .post-cover {
                border-radius: $border-radius-base;
                .post-image {
                    border-radius: $border-radius-base;
                }
                .post-image-overlay {
                    border-radius: $border-radius-base;
                    p {
                        text-align: initial;
                    }
                }
            }
        }
    }
}
