body.post {

    /* Title and date of the post */
    .post-title {
        text-transform: capitalize;
    }

    /* Images in posts */
    .post-image {
        max-height: 20rem;
        background: white;
    }

    .twitter-feed {
        padding-right: 10px;
        padding-left: 10px;
    }

    @import "custom/pullquote";
    @import "custom/ref-note";

    pre.code {
        width:100%;
        background-color: gray;
        border-style: solid;
        border-color: white;
        border-width: 1px;
        font-family: "Inconsolata";
        margin-bottom: 1rem;
        padding: 0.75rem;
    }

    header {
        min-height: 33.3vh;
        margin-bottom: $padding-base-horizontal;
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    main {
        padding-right: $padding-large-horizontal;
        padding-left: $padding-large-horizontal;
    }

    .posts-list {
        .post-link {
            .post-cover {
                border-radius: $border-radius-base;
                .post-image {
                    border-radius: $border-radius-base;
                }
                .post-image-overlay {
                    border-radius: $border-radius-base;
                    p {
                        text-align: initial;
                    }
                }
            }
        }
    }
}
