/* Reference notes */

.refnote {
    display: none; /* Don't display it if JS not transform it */
}

.ref {
    position: relative;
    font-size: $font-size-small;

    .refnum {
        position: relative;
        left: 0.1em;
        bottom: 1ex;
        cursor: pointer;
    }

    .refbody {
        position: absolute;
        min-width: 20vw;
        margin: 0;
        left: 3ex;
        bottom: 1ex ;
        z-index: 1000;
    }
}
