//////////////////////////////////////////////////////////////////////
// Override some Bootstrap variables

//== Colors
$brand-primary: #3E8B91;
$body-bg: #F8F8F8;

// Bootstrap
//////////////////////////////////////////////////////////////////////

$small-gutter: 5px;
