<script
  src='https://code.jquery.com/jquery-3.2.1.min.js'
  integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
  crossorigin='anonymous'>
</script>

<link
  href='https://fonts.googleapis.com/icon?family=Material+Icons'
  rel='stylesheet'
  type='text/css'/>
<link
  href='https://fonts.googleapis.com/css?family=Overlock:700italic'
  rel='stylesheet'
  type='text/css'/>
<link 
  href='https://fonts.googleapis.com/css?family=Signika'
  rel='stylesheet'
  type='text/css'/>

<link
  href='/assets/css/app.css'
  rel='stylesheet'
  type='text/css'/>

<link
  href='/humans.txt'
  rel='author'
  type='text/plain'/>
<link
  href='/assets/images/favicon.png'
  rel='icon'
  type='image/png'/>

