<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ site.title }}{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.url }}/assets/css/app.css"/>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/foundation-icons.css"/>
    <link rel="author" href="{{ site.url }}/humans.txt"/>
    <link rel="icon" href="{{ site.url }}/assets/images/favicon.png" type="image/png" />
    <script src="{{ site.url }}/assets/js/modernizr.foundation.js"></script>
  </head>

  <body>
    {% include nav.html %}
    {% include github_fork.html %}
    <div class="row container">
