    <!-- Google Analytics scripts -->
    <script src="/assets/js/google-analytics.js"></script>

    <!-- Twitter buttons callbacks  -->
    <script src="/assets/js/twitter_share.js"></script>

    <!-- Third-party scripts used by Foundation -->
    <script src="/assets/js/vendor/modernizr.js"></script>
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/fastclick.js"></script>

    <!-- Foundation scripts -->
    <script src="/assets/js/foundation/foundation.js"></script>

    <!-- Initialize Foundation -->
    <script>
        $(document).foundation();
    </script>

    <!-- Add my own JS -->
    <script src="/assets/js/app.js"></script>
