/* My own SCSS definitions */

/* ************************* */
/* Body main parts layouts   */
/* ************************* */

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $monokai-dark;
  box-shadow: 0px 2px 5px 0px fade-out($black, 0.3);
  border-radius: $global-radius;
}

footer p {
  font-size: $small-font-size;
}

/* ************************* */
/* Top bar buttons effects   */
/* ************************* */

.top-bar-section li a {
  transition: all 0.4s ease;
}
.top-bar-section li a:hover {
  box-shadow: inset 150px 0 0 0 $body-font-color;
}

/* ************************* */
/* Home page custom layout   */
/* ************************* */

.portrait {
  margin-left: 2rem;
  $portrait-size: 6.5rem;
  width: $portrait-size;
  border-radius: $portrait-size;
}

.postal-address {
  vertical-align: top;
  display: inline-block;
}

/* ************************* */
/* Posts custom layout       */
/* ************************* */

    /* ************************* */
    /* Posts listing             */

/* Display excerpt in normal color, not in link color ! */
.posts-list a {
  color: inherit;
}

/* Show a small image on the right of the excerpt */
.post-icon {
  height: 5rem;
  margin-right: 1rem;
}

/* Highlight the current hovered post excerpt */
ul.posts-list > li {
  transition: all 0.5s ease;
}
ul.posts-list > li:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    background: $monokai-light;
}
ul.posts-list > li p {
    margin-bottom: 0;
}

    /* ************************* */
    /* Post page                 */

/* Title and date of the post */
.post-title {
  text-transform: capitalize;
}
.post-title small {
  text-transform: initial;
}
/* Images in posts */
.post-image {
  @include thumb;
  @include radius;
  max-height: 20rem;
  background: $thumb-border-color;
}
/* pull-quote */
.post-quote {
    margin-bottom: 0;
    margin-left: 1rem;
    width: 35%;
}
/* Reference notes */
/* the reference tooltips style starts here */

.ref {
  position: relative;
  vertical-align: baseline;
}
.refnum {
  position: relative;
  left: 2px;
  bottom: 1ex;
  color: $primary-color;
  font-size: .7em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.refbody {
  font-size: .7em;
  line-height: 1.1;
  display: block;
  min-width: 20em;
  position: absolute;
  left: 25px;
  bottom: 5px ;
  border: 1px solid;
  padding: 5px;
  background-color: $monokai-light;
  word-wrap: break-word;
  z-index: 9999;
  overflow: auto;
}

code {
    display: inline-block;
    width: 100%;
    background-color: $monokai-light;
    color: $body-font-color;
    font-family: Inconsolata, DejaVu Sans Mono, monospace;
    white-space: pre;
    overflow: auto;
}
    

    /* ************************* */
    /* Social network buttons    */

/* This gets Facebook to fall into place */
.share-buttons iframe {
	vertical-align: middle;
}
/* This gets Twitter to seems more aligned */
.share-buttons .twitter {
	margin-top: 1px;
}
