/* My own SCSS definitions */

/* ************************* */
/* Body main parts layouts   */
/* ************************* */

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $monokai-dark;
  box-shadow: 0px 2px 5px 0px fade-out($black, 0.3);
  border-radius: $global-radius;
}

footer p {
  font-size: $small-font-size;
}

/* ************************* */
/* Top bar buttons effects   */
/* ************************* */

.top-bar-section li a {
  transition: all 0.4s ease;
}
.top-bar-section li a:hover {
  box-shadow: inset 150px 0 0 0 $body-font-color;
}

/* ************************* */
/* Home page custom layout   */
/* ************************* */

.portrait {
  margin-left: 2rem;
  $portrait-size: 6.5rem;
  width: $portrait-size;
  border-radius: $portrait-size;
}

.postal-address {
  vertical-align: top;
  display: inline-block;
}

/* ************************* */
/* Posts custom layout       */
/* ************************* */

    /* ************************* */
    /* Posts listing             */

/* Display excerpt in normal color, not in link color ! */
.posts-list a {
  color: inherit;
}

/* Show a small image on the right of the excerpt */
.post-icon {
  height: 5rem;
  margin-right: 1rem;
}

/* Highlight the current hovered post excerpt */
ul.posts-list > li {
  transition: all 0.5s ease;
}
ul.posts-list > li:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    background: $monokai-light;
}
ul.posts-list > li p {
    margin-bottom: 0;
}

    /* ************************* */
    /* Post page                 */

/* Title and date of the post */
.post-title {
  text-transform: capitalize;
}
.post-title small {
  text-transform: initial;
}

/* Images in posts */
.post-image {
  @include thumb;
  @include radius;
  max-height: 20rem;
  background: $thumb-border-color;
}

/* pull-quote */
.pullquote {
    font-size: 125%;
    font-weight: bold;
    color: $monokai-yellow;
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 0;
}
.pullquote:before {
    content:"\f1a3";
    font-family: "foundation-icons";
    color: $monokai-light;
    font-size: 500%;
    font-weight: normal;
    line-height: 1rem;
    text-align: left;
    display: block;
    position: relative;
    top: 1rem;
    z-index: -1;
}
blockquote.pullquote {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    border: none;
}
q.pullquote {
    float: right;
    max-width: 35%;
    text-align: right;
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* Reference notes */
/* the reference tooltips style starts here */
.ref {
  position: relative;
  vertical-align: baseline;
  // Do not display any spaces or text between spans
  font-size: 0;
}
.refnum {
  position: relative;
  left: 2px;
  bottom: 1ex;
  color: $primary-color;
  font-size: .7rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.refbody {
  font-size: .7rem;
  line-height: 1.1;
  display: block;
  min-width: 20em;
  position: absolute;
  left: 25px;
  bottom: 5px ;
  border: 1px solid;
  padding: 5px;
  background-color: $monokai-light;
  word-wrap: break-word;
  z-index: 9999;
  overflow: auto;
}

pre.code {
    width:100%;
    background-color: $code-background-color;
    border-style: solid;
    border-color: $code-color;
    border-width: 1px;
    font-family: $font-family-monospace;
    margin-bottom: 1rem;
    padding: 0.75rem;
}
    
    /* ************************* */
    /* Social network buttons    */

/* This gets Facebook to fall into place */
.share-buttons iframe {
	vertical-align: middle;
}
/* This gets Twitter to seems more aligned */
.share-buttons .twitter {
	margin-top: 1px;
}
