---
title: "CodinGame : coder, s'amuser, postuler&nbsp;!"
category: [blog, technique]
icon: https://2.bp.blogspot.com/-9Osp1CYl020/VFE4xXA9AjI/AAAAAAAAFBY/2PpcCMiVWy0/s1600/codingame_youtube_channel_2560_1440_02.jpg
---

<div class="well">
    CodinGame est une plateforme de concours de programmation qui permet de se confronter au monde
    entier, quelque soit le langage tout en cherchant un boulot.
</div>

<!-- more -->

{% include 10-body/post/05-small-image.html source-url='https://www.codingame.com/home' image-url='https://s-media-cache-ak0.pinimg.com/originals/4a/62/4b/4a624bdfb27511dd4a9a3b55a04303b2.jpg' image-alt='Image du concours de Février 2014' credit='CodinGame' %}

<h3>Le principe</h3>
<p>
L'idée derrière <a href="https://www.codingame.com/home" rel="nofollow">CodinGame</a>
est de mettre en relation des développeurs à la recherche d'un
job et des entreprises qui recrutent. Chaque mois, un nouveau concours était proposé avec
une liste d'entreprises partenaires et les postes à pourvoir. En tant que développeur, à
l'inscription au concours, vous pouviez choisir (ou non) de postuler dans les sociétés
qui vous intéressaient.</p>
<p>À la fin du concours, votre code source était alors envoyé aux entreprises que vous aviez
sélectionnées, et sous 30 jours, si le candidat les intéressait, elles pouvaient demander ses
coordonnées pour prendre contact avec lui.</p>

<h3>Une croissance fulgurante</h3>
<p>
À son lancement en 2013, CodinGame, qui est une plateforme issue de bureaux situés à
Montpellier, n'était dédié qu'à un public francophone. Les problèmes proposés pouvait alors
être résolus en utilisant les langages les plus courants (C/C++, Java, Python, C#, etc.),
et les concours avaient lieu tous les mois.
</p>

{% include 10-body/post/05-small-image.html source-url='https://www.codingame.com/home' image-url='https://www.codingame.com/html/challenges/15/small.jpg' image-alt='Image du concours de Septembre 2013' credit='CodinGame' %}

<p>
En moins d'un an, la plateforme s'est très vite étoffée, dans un premier temps en
s'internationalisant, puis en ajoutant de nouveaux langages de programmation et en
multipliant le nombre de concours.
<p>
<p>
À l'heure actuelle, la plateforme a hébergé 22 challenges de toute sorte (classique,
multi-joueurs, optimisation, etc.) mais aussi des challenges <em>sponsorisés</em>, proposés
directement par des entreprises à la recherche de candidats (à l'heure où j'écris ces
lignes, il y en a notamment un proposé par Nintendo). Chaque challenge peut être résolu avec
l'un des 23 langages proposés, des classiques C, Python, Java aux plus originaux Bash,
Clojure, Haskell et j'en passe.
</p>

<h3>Une communauté active</h3>
<p>En s'internationalisant, CodinGame a largement augmenté son public. Si les premiers
concours ne rassemblaient que quelques centaines de personnes, aujourd'hui chaque concours
regroupe 2000 à 4000 participants et on compte près de 150 000 inscrits.</p>
<p>Animés par cette communauté grandissante, on retrouve un forum sur lequel on discute des
différentes approches pour chacun des problèmes, et un
canal IRC très actif les jours de challenges&nbsp;!
</p>
<p>D'un autre côté l'entreprise est aussi très présente et à l'écoute des demandes. La
plateforme est en constante évolution, et ils nous proposent des nouveautés quasi tous les
mois.
</p>

<h3>Rendez-vous est pris</h3>

{% include 10-body/post/05-small-image.html source-url='https://www.codingame.com/challenge/back-to-the-code' image-url='https://www.codingame.com/html/challenges/back-to-the-code/conceptart_full.jpg' image-alt='Image du concours de Septembre 2015' credit='CodinGame' %}

<p>
Pause estivale oblige, le prochain concours à lieu au mois de septembre. D'ici là, je vous
invite à vous familiariser avec l'IDE est les différents challenges grâce à la liste de
<a href="https://www.codingame.com/games/puzzles">puzzles</a> bien fournis.</p>
<p>N'hésitez pas à partager vos sources une fois terminé, c'est toujours intéressant de
voir comment pense/code les autres. Pour ma part, vous pouvez trouver une partie de mes
soumissions sur mon <a href="https://github.com/AlexisBRENON/codingame">GitHub</a>.
</p>

<p>
Algorithmiquement,<br/>
Alexis.
</p>

<p>
<strong>P.S.&nbsp;:</strong> Article relativement court aujourd'hui car je vous prépare une
petite surprise pour la rentrée qui me prend pas mal de temps.
</p>
