---
title: "Retour sur 9 ans de scolarité"
categories: [blog, these]
icon: /assets/images/posts/scolarite/init.jpg
---

<div class="well">
        Depuis longtemps, ce que je voulais c'était devenir <strong>développeur</strong>. Mon projet professionnel
        était déjà fixé en 3<sup>ème</sup>, lorsque j'ai rencontré un conseiller d'orientation
        pour la première fois. Et pourtant, cette année, mon parcours a pris une <strong>tournure inattendue</strong>
        qu'on me demande souvent d'expliquer. Retour sur ce qui m'a amené là où j'en suis aujourd'hui.
</div>

<!-- more -->

        <h3>Une TI pour les gouverner tous&nbsp;!</h3>
        <p>
        En fin de 3<sup>ème</sup> mon professeur de math nous avait fait une initiation à la
        programmation sur calculatrice, mais il aura fallu attendre la 2<sup>nde</sup> pour que
        j'aie <strong>ma première calculatrice programmable, une TI-80&nbsp;!</strong> C'est cette année là que j'ai
        découvert le TI-BASIC, mon premier langage de programmation. La TI-80 avait la particularité
        de ne pas posséder de prise pour l'échange de données et j'ai donc tout tapé à la main, sur
        un clavier de calculatrice, de mes simples programmes anti-sèche jusqu'à une copie de
        SimCity&nbsp;!
        </p>

{% include 10-body/post/05-image.html size='small' source-url='https://www.flickr.com/photos/david_blue/3255779413' image-url='https://farm4.staticflickr.com/3342/3255779413_dd566afaac_z.jpg' image-alt='Calculator Cruising by David Chu, on Flickr' credit='Flickr' %}

        <p>
        Alors que certains ne se servaient du menu <em>PGRM</em> que comme d'un simple bloc-note,
        j'expérimentais dans mon coin les possibilités offertes par ces mini-ordinateurs autorisés
        en cours. J'ai alors créé des programmes avec des menus de sélection, et un affichage
        de plus de huit lignes de haut et onze caractères de large. Une révolution pour l'époque&nbsp;!
        Mon entrée en 1<sup>ère</sup> s'est accompagnée d'une TI-82, avec cable de transfert et j'ai
        dès lors pu codé sur ordinateur - avec la capacité de faire du copier-coller&nbsp;!
        </p>
        <p>
        Dès lors, mes programmes, pour math, physique, chimie, sciences de l'ingénieur, spé math,
        étaient signés et non modifiables - une petite option qu'autorisait aussi le logiciel de
        programmation TI. S'est instauré un vrai monopole du programme anti-sèche, et j'étais assez
        fier d'apprendre par mon petit frère que trois ans après mon BAC, ils étaient
        toujours en circulation au lycée&nbsp;! Le logiciel s'est émancipé de son créateur&nbsp;!
        </p>

        <h3>La culture du défi</h3>
        <p>
        En parallèle de cette industrie du programme TI, j'ai également <strong>appris la programmation au
        sens plus large du terme</strong>, avec l'algorithmique et le BASIC, en Sciences de l'Ingénieur.
        J'avais alors déjà quelques facilités, et lorsqu'il a fallu en Terminale programmer notre
        robot pour un concours, je m'y suis attelé sans rechigner. Je me souviendrai toujours de la
        discussion avec mon professeur de l'époque :
        </p>
        <blockquote>
            - Vous pouvez soit le programmer avec un language graphique, soit en C. Moi je vous conseille le C.<br/>
            - Mais monsieur, on a jamais fait de C, et on a que quatre semaines&nbsp;!<br/>
            - Hé ben, c'est assez pour apprendre.
        </blockquote>
        <p>
            Voilà pour ma première incursion dans un langage de programmation un peu plus usité.
            Autant dire qu'en quatre semaines, à raison de deux heures de TP par semaine, il a
            fallut bosser chez soi et que certaines notions ont été passées sous silence - ah, les
            pointeurs&nbsp;!
        </p>

        <h3>Curiosité et créativité</h3>
        <p>
        Voilà selon moi les maitres mots du développeur passioné. Je vois la
        programmation comme un art&nbsp;! <strong>On part d'une feuille blanche et chaque petit morceau de code
        que l'on ajoute donne davantage de vie à l'oeuvre finale.</strong> Je pense que c'est ce qui ma
        toujours plu dans la programmation.
        J'aime aussi l'idée de dire qu'en informatique, rien n'est impossible. Avec un peu de temps
        et de persévérence, il existe toujours une solution à notre problème, il suffit de la
        trouver, ou de la créer.
        </p>
        <p>
        Ces deux facettes, je les aient travaillées à l'université où on nous montre de nouveaux
        outils, de nouvelles méthodes&nbsp;; où on nous apprends à ne pas se cantonner à ce qu'on connait.
        Je me rappelle d'un des meilleurs cours que j'ai suivi, en 2<sup>ème</sup>&nbsp;année de
        Licence : <em>Création et Réalisation d'une Application</em>. <q>Vous avez quatres mois pour
        développer l'application de votre choix.</q> On peut difficilement faire plus simple
        comme consigne&nbsp;! Les encadrants étaient toujours là pour nous pousser à creuser notre idée,
        et grâce à
        <a href="https://github.com/AlexisBRENON/stellody" title="Projet Stellody">
          Stellody
        </a>, j'ai découvert GTK+, OpenGL, FMod, SVN et j'en passe&nbsp;!
        </p>

{% include 10-body/post/05-image.html size='small' source-url='https://github.com/AlexisBRENON/stellody' image-url='https://raw.githubusercontent.com/AlexisBRENON/stellody/master/data/images/logo2.png' image-alt='Logo Stellody' credit='Lucas Brenon' %}
        
<h3>Une expérience enrichissante mais peu attrayante</h3>
        <p>
        Avec le temps, mon projet professionnel s'est affiné, et en fin de Licence, j'étais bien
        décidé à faire un master professionnel axé développement logiciel (génie logiciel, génie
        informatique, etc.). J'ai eu la chance pour ma 2<sup>ème</sup>&nbsp;année de Master de décrocher une
        alternance. À moi le boulot de développeur logiciel&nbsp;! Mais voilà, <strong>après moins de six&nbsp;mois,
        je m'ennuie</strong>&nbsp;; trop peu d'initiatives à prendre, aucun gros défi, mon job consiste à
        implémenter les idées des autres...
        </p>
        <p>
        C'est en en discutant avec ma tutrice pédagogique - très présente et prévenante - qu'elle
        m'oriente vers une thèse, à l'instar de certains membres de ma famille. S'ensuit une longue
        quête de la thèse parfaite, et autant dire que la Master professionnel n'aide pas dans ce
        cas là... De nombreuses thèses sont pourvues au sein même des laboratoires, suite aux stages
        des étudiants en master recherche, sans qu'aucune offre ne soit publiée.
        </p>

        <h3>Une réponse qui s'est faite attendre</h3>
        <p>
        Lors de ma présentation de fin d'année, fin juin, je ne sais pas encore si je serais en
        thèse l'année prochaine. Mais grâce à ma tutrice qui m'a mis en relation avec certaines de
        ses connaissances, j'ai obtenu un sujet très interesssant, début juillet, soumis à
        l'obtention d'un financement. Après trois semaines de marathon administratif, nous
        apprennons que la demande de financement est refusée, le projet tombe à l'eau...
        </p>
        <p>
        Je continue mes recherches, bien décidé à trouver le poste idéal d'ici la rentrée universitaire,
        mais il faut bien avouer qu'en plein mois d'août les réponses se font rares... Il faudra attendre
        la fin du mois pour que je sois contacté par <strong>un collègue, d'un collègue, d'un collègue de ma
        tutrice</strong> proposant une thèse à pourvoir pour l'année à venir. Le sujet, bien que loin de ce que
        je cherchais à la base, m'intéresse, je postule sans hésiter.
        </p>
        <p>
        On est reparti pour un marathon de tois&nbsp;semaines, entre la constitution du dossier et les
        entretiens. Dernière ligne droite, nous ne somme plus que deux en lice. Évaluation avec mise en
        condition&nbsp;: j'ai une semaine pour lire un article scientifique en lien avec le sujet, en
        anglais, et en faire une rapide présentation de synthèse au projet entretien. Pour quelqu'un qui
        n'a jamais fait de recherche, l'exercice est nouveau, et j'y mets du coeur.
        </p>
        <p>
        Résultat, je suis retenu&nbsp;! Encore un mois de patience pour finir toutes les démarches
        administratives, et voilà maintenant cinq&nbsp;mois que j'ai intégré le labo.<br/>
        C'est bien beau tout ça, mais ça vous dit toujours pas ce que j'y fais dans ce labo, mais ça
        ce sera pour un prochain billet (qui ne devrait pas tarder).
        </p>

{% include 10-body/post/05-image.html size='small' source-url='http://www.phdcomics.com/comics/archive.php?comicid=47' image-url='http://www.phdcomics.com/comics/archive/phd0227.gif' image-alt='The Grad students etiquette' credit='"Piled Higher and Deeper" by Jorge Cham' %}

