{% include 00-opening.html %}
{% include 05-head/post.html %}

{% include 10-body/opening.html %}

  <div class="medium-9 columns">
    <h2 class="post-title">{{ page.title }}
      <small> - Publié le {%include utils/french_date.html date=page.date %}</small>
    </h2>
    {% include 10-body/post/00-share_buttons.html %}
    {{ content }}
  </div>
  <div class="medium-3 columns show-for-medium-up">
      {% include 10-body/post/10-last_posts.html %}
      {% include 10-body/post/20-related_posts.html %}
      {% include 10-body/post/30-twitter_feed.html %}
  </div>
  <div class="small-12 column">
    {% include 10-body/post/40-comments.html %}
  </div>

{% include 10-body/closing.html %}
{% include 99-closing.html %}
