    <!-- Google Analytics scripts -->
    <!--<script src="/assets/js/google-analytics.js"></script>-->
    <script>
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        try {
            var pageTracker = _gat._getTracker("UA-59688358-1");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>

    <!-- Twitter buttons callbacks  -->
    <script src="/assets/js/twitter_share.js"></script>

    <!-- Third-party scripts used by Foundation -->
    <script src="/assets/js/vendor/modernizr.js"></script>
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/fastclick.js"></script>

    <!-- Foundation scripts -->
    <script src="/assets/js/foundation/foundation.js"></script>
    <script src="/assets/js/foundation/foundation.topbar.js"></script>


    <!-- Initialize Foundation -->
    <script>
        $(document).foundation();
    </script>

    <!-- Add my own JS -->
    <script src="/assets/js/app.js"></script>
